@import "./header.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: red;
}
body {
    background-image: url('image1.jpg');
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('image1.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    color : white;
}

.titre{
    font-size: 50px;
    text-align: center;
    font-family: "lobster", sans-serif;
}
.btn{
    background-color: #f8858562;
    font-size: 15px;
    color: #808083;
    position: absolute;
    bottom: 20px;       
    right: 20px;        
    padding: 10px 20px;
}

.text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px; /* Largeur de la bulle */
        height: 150px;
        padding: 20px;
        border-radius: 20px;
        background-color: #f8858562;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 12px; /* Taille de la police */
        box-sizing: border-box;
}